.group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 500px;
}

.name {
  color: var(--component-text);
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.grayName {
  color: var(--gray-text);
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.btn {
  background-color: var(--white);
  border: none;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  color: var(--black);
  cursor: pointer;
  font-weight: 500;
  padding: var(--md-padding);
  text-transform: capitalize;
}

.default {
  background-color: var(--gray);
}

.defaultHover {
  background-color: var(--darken-gray);
}

.outline {
  border: 1px solid var(--blue);
  box-shadow: none;
  color: var(--blue);
}

.outlineHover {
  background-color: var(--lighten-blue);
  border: 1px solid var(--blue);
  box-shadow: none;
  color: var(--blue);
}

.text {
  box-shadow: none;
  color: var(--blue);
  padding: 0;
}

.textHover {
  background-color: var(--lighten-blue);
  box-shadow: none;
  color: var(--blue);
  padding: var(--md-padding);
}

.disableShadow {
  background-color: var(--blue);
  box-shadow: none;
  color: var(--white);
}

.disabled {
  background-color: var(--disabled-gray);
  box-shadow: none;
  color: var(--gray-text);
}

.textDisabled {
  box-shadow: none;
  color: var(--gray-text);
  padding: 0;
}

.sm {
  background-color: var(--blue);
  color: var(--white);
  padding: var(--sm-padding);
}

.md {
  background-color: var(--blue);
  color: var(--white);
  padding: var(--md-padding);
}

.lg {
  background-color: var(--blue);
  color: var(--white);
  padding: var(--lg-padding);
}
